/**
 * App Style Variables
 */

// Colors
$green-icon-color: #4fff64 !default;
$green-btn-color: #46d45a !default;
$accent-color: #3dc9b5 !default;
$selected-shade-color: #379285 !default;
$bg-color: #222734 !default;
$muted-color: #a4adbb !default;

// Industry Icons
$industry-icon-list: (
  'clothing-apparel',
  'electronics',
  'jewelry-accessories',
  'health-beauty',
  'food-drink',
  'bags-shoes',
  'home-garden',
  'random'
) !default;

// Page Specific
$page-background: '../images/bg.png' !default;
$base-font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !default;
$base-font-size: 16px !default;
$base-line-height: 1.4 !default;
$base-text-color: #fff !default;
$base-border-radius: 3px !default;
$form-height: 67px !default;
